// ===============================================
// NAVIGATION
// ===============================================


.navigation {
 width: 280px;

 &__wrapper {
  position: fixed;
 }

 &__header {
  padding: 12px 10px;
 }
}