// ===============================================
// SPINNER
// ===============================================

.spinner {
 stroke: var(--cl-blue);

 &__inner-circle {
  stroke: #ccc;
 }

 &--hide-circles {
  circle {
   stroke: transparent !important;
  }
 }
}