// ===============================================
// TWITTER TEXTAREA
// ===============================================


.twitter-textarea {
 position: relative;

 &__placeholder {
  position: absolute;
  z-index: -1;
 }

 &__text {
  max-width: 900px;
  max-height: 750px;
  overflow-y: auto;
 }
}