// ===============================================
// MAIN CONTENT
// ===============================================

.main-content {
  min-height: 100vh;
  border-color: rgb(239, 243, 244);
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
}
