// ===============================================
// HOME-PAGE
// ===============================================


.home-page {
 &__twit-form {
  border-color: rgb(239, 243, 244);
  border-style: solid;
  border-bottom-width: 1px;
 }
}