// ===============================================
// SPINNER
// ===============================================

.spinner {
  stroke: var(--cl-blue);

  &__inner-circle {
    stroke: var(--cl-grey-01);
  }

  &--hide-circles {
    circle {
      stroke: transparent !important;
    }
  }
}
