// ===============================================
// COLORS VARIABLES
// ===============================================


:root {

 // BASE COLORS
 // -----------------------------------------------

 $cl: (
     black: #000000,
     white: #FFFFFF,
     blue: #1DA1F2,
     black-01: #0F1419
 );

 @include get-colors($cl);

 // -----------------------------------------------
 // BASE COLORS


 // TRANSPARENT COLORS
 // -----------------------------------------------

 @include get-alpha($cl, 'white',
     (
         80: .8,
     )
 );

 // -----------------------------------------------
 // TRANSPARENT COLORS


}