// ===============================================
// COLORS VARIABLES
// ===============================================

:root {
  // BASE COLORS
  // -----------------------------------------------

  $cl: (
    black: #000000,
    black-01: #0f1419,
    white: #ffffff,
    blue: #1da1f2,
    blue-01: #416dea,
    grey: #333,
    grey-01: #ccc,
    yellow: #ffd400,
    red: #f4212e
  );

  @include get-colors($cl);

  // -----------------------------------------------
  // BASE COLORS

  // TRANSPARENT COLORS
  // -----------------------------------------------

  @include get-alpha(
    $cl,
    'white',
    (
      80: 0.8,
    )
  );

  // -----------------------------------------------
  // TRANSPARENT COLORS
}
