// ===============================================
// MAKE-TWEET
// ===============================================

.make-tweet {
  &__textarea {
    border-color: rgb(239, 243, 244);
    border-style: solid;
    border-bottom-width: 1px;
  }
}
