// ===============================================
// USER MESSAGE CARD
// ===============================================

.user-message-card {
  border-color: rgb(239, 243, 244);
  border-style: solid;
  border-bottom-width: 1px;
}